  /** GLOBAL STYLES **/
  .logo {
    color:	#ffbf00;
  }
  a {
    color: darkgray;
    flex-direction: row;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
  
  }
  /**END STYLES FOR GLOBAL**/
 
 /**STYLES FOR BEER CARD**/
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 330px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #f1f1f1;
  color: black;
  padding-top: 50px;
}

.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
  font-size: 11.5px;
  padding-top: 50px;
  
} 
  /**END STYLES FOR BEER CARD**/ 
   /**STYLES FOR BEER DISPLAY**/
   .beer-display {
     padding: 2rem;
   }
/**END STYLES FOR BEER DISPLAY**/ 
  /** STYLES FOR CONTACT **/
  .contact {
    background:#2f5cb6;
    color: white;
    display: flex;
    flex-direction: column;
    height: 20rem;
    justify-content: space-between;
    padding: 1rem 0;
  }
  .contact h3 {
    margin: 0 10%;
  }
  .contact .list {
    align-items: center;
    display: inline-flex;
    justify-content: space-evenly;
    padding: 2rem;
  }
  .contact .nav {
    flex-direction: column;
  }
  .contact a { 
    color: white;
  }
  
  .contact .tag {
    margin: 0 10%;
    padding: 1rem;
    text-align: center;
  }
  .email {
    display: flex;
    flex-direction: column;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 150%;
    font-stretch: semi-expanded;
  }
  .input {
  margin:  1.2rem 0;
  padding: 1rem;
  width: 50%;
  }
 
 /** END STYLES FOR CONTACT **

 /** STYLES FOR HEADER **/
  .header {
    margin: 0 10%;
  }
  /** END STYLES FOR HEADER**/

  /**STYLES FOR HERO **/
.big {
  font-size: 2rem;
}
.bold{
  font-weight: bold;
}
.circle {
 background:	#ffa200;
 color: white;
 border-radius: 6rem;
 height: 12rem;
 min-width: 12rem;
 padding: .3rem;
 text-align: center;
 width: 12rem;
}
.circle h2 {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-stretch: semi-expanded;
  text-decoration-line: underline
}
.colored {
 color: #737373;
}
.hero {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.hero-ad {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.hero-text-left {
  line-height: 1.5;
  padding: 0 2rem;
}
.hero-group {
align-items: flex-start;
display: flex;
flex-direction: row;
justify-content: center;
margin: 0;
padding: 3rem;
}
.hero-image {
transform: rotate(10deg);
}

.hero-text {
color: darkgray;
font-size: 5rem;
text-align: center;
}

/**END STYLES FOR HERO**/

  /**STYLES FOR FOOTER **/
  .main-footer {
    background-color: #364a63;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    font-size: 80%;
    grid-area: footer;
    height: 6rem;
    justify-content: center;
    text-align: left;
  }
  .main-footer  p{
    margin: 0 10%
  }


 /**END STYLES FOR FOOTER**/

/** GRID STYLES**/
.content {
  grid-area: content;
}



.wrapper {
  display: grid;
  font-family: NotoSans, 'Lucida Sans', sans-serif;
  grid-template-areas: 
    "nav"
    "content"
    "footer";
}
@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 3fr;
    grid-template-areas: 
      "nav     nav"
      "content content"
      "footer  footer";
  }
  nav {
    justify-content: space-between;
  }
  nav a {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 6fr;
    grid-template-areas: 
      "nav   nav  nav"
      "content  content content"
      "footer footer  footer"
   }
   nav a {
     flex-direction: row;
   }
}
/** END OF GRID STYLES **/

/** NAVIGATION STYLES **/
.nav {
  display: flex;
  grid-area: nav;
  align-content: space-between;
  align-items: center;
}
.nav-right {
  display: flex;
}
a {
  color: darkgray;
  flex-direction: row;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;

}
/** END OF NAVIGATION STYLES **/

/**STYLES FOR SEARCH **/
.search {
  background:#8fa5c9;
  /* border-top-left-radius: 6rem; */
  display: flex;
  flex-direction: column;
  height: 15rem;
  justify-content: center;
  
  }
  /**END STYLES FOR SEARCH**/

 /**STYLES FOR SEARCH FILTERS **/
 .button {
  padding: 1rem;
}
.filter-search {
  margin:  1.2rem;
  padding: 1rem;
  width: 40%;
}
.filter-group {
 color: darkgray;
 align-items: center;
 display: flex;
 flex-direction: row;
 justify-content: center;
 padding:  1rem;
}
.filter {
 margin:  .6rem;
 padding: 1rem;
 width: 15%;
}
/**END STYLES FOR SEARCH FILTERS**/


