 /**STYLES FOR HERO **/
 .big {
   font-size: 2rem;
 }
 .bold{
   font-weight: bold;
 }
 .circle {
  background:	#ffbf00;
  color: white;
  border-radius: 6rem;
  height: 12rem;
  text-align: center;
  width: 12rem;
}
.circle h3 {
  text-decoration-line: underline
}
.colored {
  color: #737373;
}
/**Colors 
$dark-grey: darkgray;
$grey: #666;
$blue:dodgerblue;
$blue-gray: #8fa5c9;
$off-white: #f1f1f1;
END COLORS **/
 
 
 /**STYLES FOR HEADER **/
 .logo {
   color: darkgray;
 }
 .main-nav {
  display: flex;
  grid-area: nav;
  align-content: space-between;
  align-items: center;
}
.main-nav-right {
  display: flex;
  border: thin black solid;
  
}
a {
  color: darkgray;
  flex-direction: row;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;

}
 /**END STYLES FOR HEADER**/
  /**STYLES FOR HERO **/
 .hero-group {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3rem;
}
.hero-image {
  transform: rotate(10deg);
}
 
.hero-text {
  font-size: 5rem;
  text-align: center;
}
 .hero-image {
  transform: rotate (10deg);
}
.hero-text {
  color: darkgray;
  font-size: 75px;
}
 /**END STYLES FOR HERO**/

/**STYLES FOR BEER CARD**/
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 330px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
 .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #8fa5c9;
    color: black;
    padding-top: 50px;
  }
  
  .flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    font-size: 11.5px;
    padding-top: 50px;
    
  } 
  /**END STYLES FOR BEER CARD**/ 
 
 /**STYLES FOR SEARCH FILTERS **/
 .filter-group {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding:  1rem;
}
.filter {
  margin:  .5rem;
  padding: 1rem;
}
/**END STYLES FOR SEARCH FILTERS**/

/**STYLES FOR SEARCH **/
.search {
background:#3366cc;
display: flex;
height: 15rem;
justify-content: center;
}
/**END STYLES FOR SEARCH**/
  /**STYLES FOR FOOTER **/
  .main-footer {
    background-color:#8fa5c9;
    color: #f1f1f1;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
.main-footer p {
  margin: 0;
}
 /**END STYLES FOR FOOTER**/

/** GRID STYLES**/
.content {
  grid-area: content;
}

.ad {
  grid-area: ad;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
    "nav"
    "content"
    "ad"
    "footer";
}
@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 3fr;
    grid-template-areas: 
      "nav     nav"
      "content content"
      "ad      ad"
      "footer  footer";
  }
  nav {
    justify-content: space-between;
  }
  nav a {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 6fr;
    grid-template-areas: 
      "nav   nav  nav"
      "content  content content"
      "footer footer  footer"
   }
   nav a {
     flex-direction: row;
   }
}
/** END OF GRID STYLES **/
